{%  extends 'UWEflix/base/base.html'%}



{% block content %}


<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {{form.errors}}
  <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="film_title">film_title: </label>
      <input class="form-control rounded-pill" style="border-radius: 20px; width: 50%;"
         id="film_title" type="text"
         name="film_title" value="{{ object.film_title }}">
  </div>
  <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="age_rating">age_rating: </label>
      <input class="form-control rounded-pill" style="border-radius: 20px; width: 50%;"
         id="age_rating" type="text"
         name="age_rating" value="{{ object.age_rating }}">
  </div>
  <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="description">description: </label>
      <input class="form-control rounded-pill" style="border-radius: 20px; width: 50%;"
         id="description" type="text"
         name="description" value="{{ object.description }}">
  </div>
  <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="duration">duration: </label>
      <input class="form-control rounded-pill" style="border-radius: 20px; width: 50%;"
         id="duration" type="text"
         name="duration" value="{{ object.duration }}">
  </div>
  <input type="submit" value="Save" class="btn btn-primary">
</form>

{% endblock %}

