{% extends 'UWEflix/base/base.html' %}

{% block content %}
  <h2>Clubs</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Club ID</th>
        <th>Club Name</th>
        <th>Street Number</th>
        <th>Street</th>
        <th>City</th>
        <th>Post Code</th>
        <th>Landline Number</th>
        <th>Mobile Number</th>
        <th>Email</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Date of Birth</th>
      </tr>
    </thead>
    <tbody>
      {% for club in view_club_data %}
        <tr>
          <td>{{ club.clubID }}</td>
          <td>{{ club.club_name }}</td>
          <td>{{ club.street_number }}</td>
          <td>{{ club.street }}</td>
          <td>{{ club.city }}</td>
          <td>{{ club.post_code }}</td>
          <td>{{ club.landline_number }}</td>
          <td>{{ club.mobile_number }}</td>
          <td>{{ club.email }}</td>
          <td>{{ club.first_name }}</td>
          <td>{{ club.last_name }}</td>
          <td>{{ club.dob }}</td>
          <td>
            <form method="POST" action="{% url 'update_club' club.clubID %}">
            {% csrf_token %}
            <input type="hidden" name="pk" value="{{ club.pk }}">
            <button type="submit" class="btn btn-primary">Update Club</button>
          </form>
          </td>
          <td>
            <form method="POST" action="{% url 'delete_club'%}">
              {% csrf_token %}
              <input type="hidden" name="pk" value="{{ club.pk }}">
              <button type="submit" class="btn btn-danger">Delete Club</button>
            </form>
          </td>
          
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <div>
    <a class="btn btn-primary" href="{% url 'create_club' %}">
      Create a new Club
    </a>
  </div>
{% endblock %}
