{% extends 'UWEflix/base/base.html' %}
{% load static %}

{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'account.css' %}">


{% if message %}
<div class="alert">{{ message }}</div>
{% endif %}

<h3>Welcome Account Manager</h3>

<p>Please click on the buttons if wish to view a user, representative or club:</p>

<br>
<a href="{% url 'view_user' %}" class="btn btn-primary">View User</a>

<a href="{% url 'view_rep' %}" class="btn btn-primary">View Representative</a>

<a href="{% url 'view_club' %}" class="btn btn-primary">View Club</a>
{% endblock content %}