{% extends 'UWEflix/base/base.html' %}
{%load static%}
{% block content %}




<main class="page payment-page" style="margin-top: 50px;">

    <section class="payment-form dark">

        <div class="container">

            <div class="block-heading">
                <h2>Payment</h2>
            </div>

            <div class="data" data-value="{{value.sessionId}}" ></div>
            <!-- <div class="data" data-value="/film_details/{{details.id}}/booking/{{details.pk}}/tickets/{{details.pi}}/booking_processing" ></div> -->
            <!-- <div></div> -->
 

            <form action="/film_details/{{details.id}}/booking/{{details.pk}}/tickets/{{details.pi}}/booking_processing"
                method="post"> {% csrf_token %}

                <!-- {{value.sessionId}} -->

                <div class="products">
                    <h3 class="title">Checkout</h3>
                    <div class="item">


                        <p class="item-name"
                            style="font-size: 20px; display: flex ; justify-content: center ; align-items: center;">
                            {{details.film}}</p>

                        {% if details.total.Adult > 0 %}

                        <span class="price">{{details.total.Adult}} X £10</span>
                        <p class="item-description">Film Type :- Adult </p>

                        {% endif %}
                        {% if details.total.Student > 0 %}

                        <span class="price">{{details.total.Student}} X £7</span>
                        <!-- <p class="item-name">{{details.film}}</p> -->
                        <p class="item-description">Film Type :- Student </p>

                        {% endif %}

                        {% if details.total.Children > 0 %}

                        <span class="price">{{details.total.Children}} X £8</span>
                        <!-- <p class="item-name">{{details.film}}</p> -->
                        <p class="item-description">Film Type :- Children </p>

                        {% endif %}


                    </div>
                    <div class="total">Total<span class="price">£ {{details.total.total}}</span></div>

                </div>

                <div class="card-details">


                    <div class="row">

                        <div class="mb-3 col-sm-7" style="width: 100%;">

                            <label for="email">Email</label>
                            <input id="email" name="name" type="email" class="form-control"
                                placeholder="{{details.email}}" aria-label="Email" aria-describedby="basic-addon1" pattern=".+@ac\.uk"
                                disabled>


                        </div>




                    </div>

                    <div class="d-flex gap-3">
                    
                        <button style="width: 50%;" onclick="window.history.go(-1); return false;"
                            class="btn btn-danger btn-block">Cancel</button>
                    
                        <button style="width: 50%;" type="submit" class="btn btn-primary btn-block" id="checkout" >Proceed</button>
                       
                    
                    
                    </div>
                </div>
                


            </form>

        </div>

    </section>


</main>




{% endblock content %}