{% extends 'UWEflix/base/base.html' %}

{% block content %}

<div class="d-flex justify-content-center" style="margin-bottom:15px; margin-top: 125px;font-weight: bolder;">
    <span class="fs-2">MOVIE NAME : <span style="color : blue; font-weight: 500; ">{{d.name}}</span></span>
</div>

<div class=" toast-container position-absolute  top-0 end-0 p-3 toast align-items-center  fade " role="alert"
    aria-live="assertive" aria-atomic="true" style="backdrop-filter: blur(20px)">
    <div class="d-flex">
        <div class="toast-body">
            The Show is Fully Book <br>
        <a href="{% url 'home' %}" >back to home page</a>
        
    </div>
        
    </div>
    {% comment %} <button  class="button" style="border: 0px; width: auto; background: green;" onclick="window.location.href='{% url 'home' %}';" >
            BACK TO HOME PAGE </button> {% endcomment %}
</div>

<div style="padding: 30px 300px 30px 300px;">


    <table class="table table-bordered table-hover">
        <tbody>
            
            
            <tr>
                <th >Ṃovie Type</th>
                <td>{{d.type}}</td>
            </tr>
            <tr>
                <th >Released Date</th>
                <td>{{d.date}}</td>
            </tr>
            <tr>
                <th >Movie Language</th>
                <td>{{d.language}}</td>
            </tr>
            <tr>
                <th >Rating</th>
                <td>{{d.rating}}</td>
            </tr>
            <tr>
                <th >Movie Runtime</th>
                <td>{{d.duration}}</td>
            </tr>
            <tr>
                <th >Lead Cast</th>
                <td>{{d.cast}}</td>
            </tr>
            <tr>
                <th >Ticket Price</th>
                <td>£ {{d.price}}</td>
            </tr>
            <tr>
                <th >Movie Trailer</th>
                <td><a href="{{d.trailer}}">Click Here to Watch Trailer now</a></td>
            </tr>

        </tbody>
    </table>

    
</div>



<div class="d-flex justify-content-center align-items-center p-3 gap-3">
    <button class="button"  style="border: 0px; background-color: #990f02;"  onclick="window.history.go(-1); return false;">

        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M2 2.5a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1H3.707l10.147 10.146a.5.5 0 0 1-.708.708L3 3.707V8.5a.5.5 0 0 1-1 0v-6z"/>
        </svg>
            BACK
    </button>

    <button id="house" class="button" style="border: 0px;" onclick="window.location.href = `${window.location.href}booking/{{id}}`;" data-dis="{{dis}}" >
        BOOK NOW
        <div class="justify-content-center align-items-center">

            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-arrow-up-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M14 2.5a.5.5 0 0 0-.5-.5h-6a.5.5 0 0 0 0 1h4.793L2.146 13.146a.5.5 0 0 0 .708.708L13 3.707V8.5a.5.5 0 0 0 1 0v-6z" />
            </svg>

        </div>
    </button>

</div>



{% endblock content %}