{% extends 'UWEflix/base/base.html' %}
{% load static %}
{% block content %}







<div class="d-flex justify-content-center"
    style="margin-bottom:15px; margin-top: 125px;font-weight: bolder;text-transform:uppercase">
    <span class="fs-1">Tickets</span>
</div>

<div  class=" toast-container position-absolute  top-0 end-0 p-3 toast align-items-center  fade " role="alert" aria-live="assertive" aria-atomic="true" style="backdrop-filter: blur(20px)">
    <div class="d-flex">
        <div class="toast-body">
            Seat has been fully book
        </div>
        {% comment %} <a href="{% url 'home' %}" >back to home page</a> {% endcomment %}
    </div>
</div>


<div style="padding: 30px 300px 30px 300px;">


    <form action="/film_details/{{id}}/booking/{{pk}}/tickets" method="post"> {% csrf_token %}
        <table class="table table-bordered ">
            <tbody>


                <tr>
                    <th>Ṃovie Name</th>
                    <td>{{f.name}}</td>
                </tr>
                <tr>
                    <th>Date</th>
                    <td>{{d.date}}</td>
                </tr>
                <tr>
                    <th>Time</th>
                    <td>{{time}}</td>
                </tr>
                <tr>
                    <th>Screen</th>
                    <td>Screen {{d.screen.screen_number}}</td>
                </tr>
                <tr>
                    <th>Seat Number</th>
                    <td>Not Allocated</td>
                </tr>
                
                <tr>
                    <th>Quantity</th>
                   

                    <td>


                        <div class="d-flex justify-content-center align-items-center" id="count" data-capacity="{{a}}"  >
                            <div style="display: inline-block;" >
                                <label  for="number-input" style="margin-left: 42px;">Adult</label>
                                <div class="input-group" style="width: 40%;">


                                    <button type="button" id="adult_plus" class="btn btn-link" onclick="increment()">
                                        <svg id="plus" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                                            <path
                                                d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                            <path
                                                d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                                        </svg>
                                    </button>

                                    <input name="adult_num"  class="form-control" id="adult_num" aria-label="Number input" value="0"
                                        aria-describedby="negative-symbol positive-symbol" type="text"
                                        style="border: 0px; background: white;">

                                    <button type="button" id="adult_minus" class="btn btn-link" onclick="decrement()">
                                        <svg id="minus" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-dash-circle" viewBox="0 0 16 16">
                                            <path
                                                d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                            <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z" />
                                        </svg>
                                    </button>

                                </div>
                            </div>
                            <div style="display: inline-block;" >
                                <label for="number-input" style="margin-left: 33px;">Children</label>
                                <div class="input-group" style="width: 40%;">


                                    <button type="button" id="children_plus" class="btn btn-link" onclick="increment()">
                                        <svg id="plus" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                                            <path
                                                d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                            <path
                                                d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                                        </svg>
                                    </button>

                                    <input name="children_num" class="form-control" id="children_num" aria-label="Number input" value="0"
                                        aria-describedby="negative-symbol positive-symbol" type="text"
                                        style="border: 0px; background: white;">

                                    <button type="button" id="children_minus" class="btn btn-link" onclick="decrement()">
                                        <svg id="minus" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-dash-circle" viewBox="0 0 16 16">
                                            <path
                                                d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                            <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z" />
                                        </svg>
                                    </button>

                                </div>
                            </div>

                            {% if role == 'student' %}
                            <div style="display: inline-block;" >
                                <label for="number-input" style="margin-left: 34px;" >Student</label>
                                <div class="input-group" style="width: 40%;">


                                    <button type="button" id="student_plus" class="btn btn-link" onclick="increment()">
                                        <svg id="plus" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                                            <path
                                                d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                            <path
                                                d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                                        </svg>
                                    </button>

                                    <input name="student_num" class="form-control" id="student_num" aria-label="Number input" value="0"
                                        aria-describedby="negative-symbol positive-symbol" type="text"
                                        style="border: 0px; background: white;">

                                    <button type="button" id="student_minus"  class="btn btn-link" onclick="decrement()">
                                        <svg id="minus" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-dash-circle" viewBox="0 0 16 16">
                                            <path
                                                d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                            <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z" />
                                        </svg>
                                    </button>

                                </div>
                            </div>
                            {% else %}
                            <div style="display: none;" >
                                <label for="number-input" style="margin-left: 34px;" >Student</label>
                                <div class="input-group" style="width: 40%;">


                                    <button type="button" id="student_plus" class="btn btn-link" onclick="increment()">
                                        <svg id="plus" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                                            <path
                                                d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                            <path
                                                d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                                        </svg>
                                    </button>

                                    <input name="student_num" class="form-control" id="student_num" aria-label="Number input" value="0"
                                        aria-describedby="negative-symbol positive-symbol" type="text"
                                        style="border: 0px; background: white;">

                                    <button type="button" id="student_minus"  class="btn btn-link" onclick="decrement()">
                                        <svg id="minus" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-dash-circle" viewBox="0 0 16 16">
                                            <path
                                                d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                            <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z" />
                                        </svg>
                                    </button>

                                </div>
                            </div>
                            {% endif %}
                        </div>



                    </td>

                </tr>
                <tr>
                    <th>Price</th>
                    <!-- <td>£ <input name="price" value="{{f.price}}" id="price" style="border: 0px; color: black; " disabled ></td> -->
                    <td>£ <span name="price" id="price">0</span></td>
                    <!-- <td>£ <span name="price" id="price">{{f.price}}</span></td> -->
                </tr>
                <tr>
                    <th>Email</th>
                    <!-- <td>£ <input name="price" value="{{f.price}}" id="price" style="border: 0px; color: black; " disabled ></td> -->
                    <td>
                        <div style="width: 50%;" >
                            <input id="email" name="email" type="email" class="form-control" placeholder="Email" aria-label="Email"
                            aria-describedby="basic-addon1" required>
                        </div>
                    </td>
                    <!-- <td>£ <span name="price" id="price">{{f.price}}</span></td> -->
                </tr>

            </tbody>
        </table>


        <div class="d-flex justify-content-center align-items-center p-3 gap-3">

            <button class="button"  style="border: 0px; background-color: #990f02;"  onclick="window.history.go(-1); return false;">
                
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M2 2.5a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1H3.707l10.147 10.146a.5.5 0 0 1-.708.708L3 3.707V8.5a.5.5 0 0 1-1 0v-6z"/>
                  </svg>
        
                BACK
            </button>

        <div class="d-flex justify-content-center align-items-center p-3">
            <button class="button" type="submit" style="border: 0px;width: 200px;">
                CONFIRM BOOKING
                <div class="justify-content-center align-items-center">

                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-arrow-up-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M14 2.5a.5.5 0 0 0-.5-.5h-6a.5.5 0 0 0 0 1h4.793L2.146 13.146a.5.5 0 0 0 .708.708L13 3.707V8.5a.5.5 0 0 0 1 0v-6z" />
                    </svg>

                </div>
            </button>

        </div>
    </form>


</div>
{% endblock content %}




