{% extends 'UWEflix/base/base.html' %}

{% block content %}


<div class="d-flex justify-content-center" style="margin-bottom:15px; margin-top: 125px;font-weight: bolder;">
    <span class="fs-1">UPCOMING MOVIES</span>
</div>



<div class="d-flex justify-content-center my-5 " style="padding:3px">
    <div class="film-card" style="padding:3px">


        {% for i in movie %}


        <div class="m-1">


            <div class="image-container">
                <a href="/upcoming_details/{{i.id}}/" style="position: relative;">
                    <img height="540" width="360" src="{{i.image.url}}" alt="" >
                    <span class="badge" style="color: antiquewhite; background-color: #181818; position: absolute ; right: 240px; bottom: 230px; padding: 15px; font-weight: bold;"  >COMING SOON</span>
                </a>
            </div>



            <div class="mt-2">
                <a href="/upcoming_details/{{i.id}}/"
                    style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-size: 30px;font-weight: 400;color: #181818; text-decoration: none; font-weight:500 ; ">{{i.name}}</a>
                <p>{{i.type}}</p>
                <date style="font-size:16px;font-weight: 400;color: #181818;font-weight: bold;">Release Date: {{i.date}}
                </date>
            </div>

            <div class="destination_list">
                <ul>
                    <li>{{i.language}}</li>
                    <li>Rating : {{i.rating}}</li>
                </ul>
            </div>
        </div>


        {% endfor %}
    </div>
</div>

{% endblock content %}