{% extends 'UWEflix/base/base.html' %}
{% block content %}
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.errors }}
    {% for field in form %}
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="{{ field.id_for_label }}">{{ field.label }}:</label>
            <input type="text" id="{{ field.id_for_label }}" name="{{ field.name }}" value="{{ instance.field.value }}" />
        </div>
    {% endfor %}    
    <input type="submit" value="Save" class="btn btn-primary">
  </form>
  <div class="d-flex justify-content-center container">
  </div>
{% endblock %}
