{%  extends 'UWEflix/cinema_manager/home.html'%}



{% block content %}


<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {{form.errors}}
  <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="street">street: </label>
      <input class="form-control col-sm-10"'
         id="street" type="text"
         name="street" value="{{ object.street }}">
  </div>
  <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="landline_number">landline_number: </label>
      <input class="form-control col-sm-10"'
         id="landline_number" type="text"
         name="landline_number" value="{{ object.landline_number }}">
  </div>
  <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="dob">dob: </label>
      <input class="form-control col-sm-10"'
         id="dob" type="date"
         name="dob" value="{{ object.dob }}">
  </div>
  <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="last_name">last_name: </label>
      <input class="form-control col-sm-10"'
         id="last_name" type="text"
         name="last_name" value="{{ object.last_name }}">
  </div>
  <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="clubID">clubID: </label>
      <input class="form-control col-sm-10"'
         id="clubID" type="text"
         name="clubID" value="{{ object.clubID }}">
  </div>
  <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="post_code">post_code: </label>
      <input class="form-control col-sm-10"'
         id="post_code" type="text"
         name="post_code" value="{{ object.post_code }}">
  </div>
  <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="club_name">club_name: </label>
      <input class="form-control col-sm-10"'
         id="club_name" type="text"
         name="club_name" value="{{ object.club_name }}">
  </div>
  <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="first_name">first_name: </label>
      <input class="form-control col-sm-10"'
         id="first_name" type="text"
         name="first_name" value="{{ object.first_name }}">
  </div>
  <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="email">email: </label>
      <input class="form-control col-sm-10"'
         id="email" type="text"
         name="email" value="{{ object.email }}">
  </div>
  <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="mobile_number">mobile_number: </label>
      <input class="form-control col-sm-10"'
         id="mobile_number" type="text"
         name="mobile_number" value="{{ object.mobile_number }}">
  </div>
  <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="street_number">street_number: </label>
      <input class="form-control col-sm-10"'
         id="street_number" type="text"
         name="street_number" value="{{ object.street_number }}">
  </div>
  <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="city">city: </label>
      <input class="form-control col-sm-10"'
         id="city" type="text"
         name="city" value="{{ object.city }}">
  </div>
  <input type="submit" value="Save" class="btn btn-primary">
</form>

{% endblock %}
