.tick {
    display: block;
    height: 20vw;
    width: 20vw;
    color: #249225;
    /* SVG path use currentColor to inherit this */
}

.circle {
    stroke-dasharray: 76;
    stroke-dashoffset: 76;
    animation: draw 1s forwards;
}

.tick {
    stroke-dasharray: 18;
    stroke-dashoffset: 18;
    animation: draw 1s forwards 1s;
}

@keyframes draw {
    to {
        stroke-dashoffset: 0
    }
}


.tick {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 54vh;
}