{% extends 'UWEflix/base/base.html' %}

{% block content %}
  <h2>Screen</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Screen Number</th>
        <th>Screen Capacity</th>
      </tr>
    </thead>
    <tbody>
      {% for objects in objects %}
        <tr>
          <td>{{ objects.screen_number }}</td>
          <td>{{ objects.capacity }}</td>
          <td>
            <form method="POST" action="{% url 'update_screen' objects.id %}">
            {% csrf_token %}
            <input type="hidden" name="pk" value="{{ screen.pk }}">
            <button type="submit" class="btn btn-primary">Update Screen</button>
            </form>
          </td>
          <td>
            <form method="POST" action="{% url 'delete_screen' objects.id %}">
              {% csrf_token %}
              <input type="hidden" name="pk" value="{{ screen.pk }}">
              <button type="submit" class="btn btn-danger">Delete Screen</button>
            </form>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <div>
    <a class="btn btn-primary" href="{% url 'create_screen' %}">
      Create a new Screen
    </a>
  </div>
{% endblock %}
